.city-overview {
    list-style-type: none;
    width: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row when needed */
    gap: 10px; 
}

.card {
    background: whitesmoke;
    margin: 10px;
    border-radius: 15px;
    height: 170px;
    width: 170px;
    padding: 15px;
}

.card:hover {
    background-color: #4c4ca6;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
}